<div class="slide about">
	<div class="inner">
		<h1>About Us</h1>
    <h2>Our Story</h2>
		<text>Growing up, Sebastian was one of those kids who not only enjoyed listening to iPods but also enjoyed taking them apart. 
    His love for tech collided with his love for working out when he was at the gym and realized he needed 3-4 apps just to log what he wanted. 
    He started brainstorming ideas for an app that could replace a personal trainer, and the idea of Vit was born. 
    He met Danny through a friend, and Edgar through Danny. 
    Danielle heard them all talking about it in her living room since she and Sebastian are roommates and she decided she wanted in on the action as well. 
    Danielle used to train with Vince so she knew he’d be a great asset to the team, and eventually everyone’s roles fell into place.</text>
    
    <h2>Our Team</h2>
    <h3>Sebastian Garcia - Founder, Lead Designer</h3>
    
    Currently pursuing a degree in business with a double concentration in finance and accounting from NYU Stern School of Business, this Florida boy has not only worked at a few startups, he’s had two of his own. A self-taught coder, this impressive kid wrote his first app in high school.
    Exercise of choice? Pull ups.
    
    <h3>Edgar Li - Lead Analytics Developer</h3>
    
    This American University student doesn’t like to brag, so we’ll keep this short; he owns a web development company that is currently working on a big project that can't yet be revealed. Yeah, he’s kind of smart.
    Exercise of choice? The good ‘ol bench press.
    
    <h3>Danny Aksenov - Lead OS Developer</h3>
    
    A computer engineer at Macaulay Honors College, he teaches high school kids game design.
    When he’s not busy enriching the lives of future game enthusiasts, this adrenaline junkie loves to snowboard and play hockey. Let’s just say he knows how to have a good time, but don’t let this fool you, girls; this secret sweetheart still makes the time to volunteer at an animal rescue center. 
    Exercise of choice? Tricep dips.
   
    
    <h3>Danielle Soto - Marketing Director</h3>
    
    Though she met Sebastian at NYU Stern School of Business, she took a different route and is double concentrating in marketing and information systems with a minor in psychology. She’s done marketing and PR for startups before and has the gift of gab. Though she seems to wear a permanent smile, this Texas girl packs a punch—she’s practiced kickboxing for the past few years. 
    Exercise of choice? Squats.
  
    
    <h3>Vince Esquivel</h3>
    With over 13 years of experience, Vince has trained people of all ages. Having played basketball in college—and still being really, really good at it—he trains many athletes to perfect their form and game, and his weight training is insane. (Just ask Danielle.) Vince, the expert and highest earning trainer in all Gold’s Gyms nationwide six out the twelve months last year, is NETA Certified, NCCPT Certified, CPR & AED Certified, a TRX Rip Trainer, Nesta-functional training specialist, and also has a bachelor’s degree in business.
    Life mantra? “Go hard or go home.”
    
	</div>
  
	  <%= link_to "Back to Vit", root_path, :class => "btn" %>
</div>