html,
button,
input,
select,
textarea {
    color: #222;
	font-family: 'ubuntulight';
}

@font-face {
    font-family: 'ubuntulight';
    src: url(font-path('ubuntu-l-webfont.eot'));
    src: url(font-path('ubuntu-l-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('ubuntu-l-webfont.woff')) format('woff'),
         url(font-path('ubuntu-l-webfont.ttf')) format('truetype'),
         url(font-path('ubuntu-l-webfont.svg') + "#ubuntulight") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url(font-path('ubuntu-m-webfont.eot'));
    src: url(font-path('ubuntu-m-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('ubuntu-m-webfont.woff')) format('woff'),
         url(font-path('ubuntu-m-webfont.ttf')) format('truetype'),
         url(font-path('ubuntu-m-webfont.svg') + "#ubuntulight") format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 1em;
	font-family: 'ubuntulight';
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 3px;
    border: 1;
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
	color: #fff;
	background-color: #fff;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

html, body, {
	width:100%;
	height:100%;
}

body {
	max-width: 100%;
}

h1 {
	color: #fff;
	font-weight: normal;
	font-family: 'ubuntulight';
}

@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
	h1 {
		font-size: 30px;
		line-height: 30px;
	}
}

@media (min-width: 718px){
	h1 {
		font-size: 35px;
		line-height: 35px;
	}
}

@media (min-width: 1024px){
	h1 {
		font-size: 40px;
		line-height: 40px;
	}
}

@media (min-width: 1292px) {
	h1 {
		font-size: 50px;
		line-height: 50px;
	}
}

h2 {
	color: #fff;
	font-weight: normal;
	font-family: 'ubuntulight';
}

@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
	h2 {
		font-size: 20px;
		line-height: 25px;
	}
}

@media (min-width: 718px){
	h2 {
		font-size: 20px;
		line-height: 25px;
	}
}

@media (min-width: 1024px){
	h2 {
		font-size: 25px;
		line-height: 30px;
	}
}

@media (min-width: 1292px) {
	h2 {
		font-size: 30px;
		line-height: 35px;
	}
}

p {
	color: #fff;
}

@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
	p {
		font-size: 15px;
		line-height: 20px;
	}
}

@media (min-width: 718px){
	p {
		font-size: 15px;
		line-height: 20px;
	}
}

@media (min-width: 1024px){
	p {
		font-size: 20px;
		line-height: 25px;
	}
}

div#wrapper {
	margin: 0 0; 
	max-width: 100%;
	max-height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

div.slide {
	height: 100vh;
	text-align: center;
	position: relative;
	font-family: 'ubuntulight';
	background: url(/assets/rbackground.png) fixed;
	background-repeat: repeat;
	background-size: 640x1136;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	  -webkit-justify-content: center;
	  -moz-box-pack: center;
	  -ms-flex-pack: center;
	  justify-content: center;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -webkit-flex-direction: column;
	  -moz-box-orient: vertical;
	  -moz-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column;
}



div.slide .background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

div.slide .inner {
	text-align: center;
	width: 90%;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.phone {
	bottom: 0;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	width: 45vh;
	height: auto;
	position: absolute;
}

.scrollphone, .qualityphone, .graphphone {
	width: 100%;
	height: auto;
}

div#logo {
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 15%;
	float: none;
	@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
		width: 200px;
		height: 200px;
	}

	@media (min-width: 718px){
		width: 250px;
		height: 250px;
	}
}

.logo {
	width: 100%;
	height: auto;
}

div.slide.main {
	background: url(/assets/Working.png) no-repeat center;
	background-size: cover;
	h1 {
		font-family: 'ubuntumedium';
		color:#fff;
		margin: 10% 0;
	}
}

@media (-webkit-max-device-pixel-ratio: 1.75), (max-resolution: 168dpi) {
	div.slide.main {
		background: #000;
	}
}

.btn {
	background-image: -webkit-linear-gradient(top, #aeee00 0%, #9bd400 100%);
	  background-image:      -o-linear-gradient(top, #aeee00 0%, #9bd400 100%);
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#aeee00), to(#9bd400));
	  background-image:         linear-gradient(to bottom, #aeee00 0%, #9bd400 100%);
	  background-repeat: repeat-x;
	  border-color: #aeee00;
	  width: 200px;
	  height: 40px;
      padding: 10px 10px;
	  border-radius: 6px;
	  margin: 10px 10px;
}

.input {
	height: 15px;
	padding: 10px 10px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	margin: 10px 10px;
	text-align: center;
}

@media (min-width: 1024px){
	.input {
		width: 300px
	}
}

.error_explanation {
	font-family: 'ubuntulight';
	color: #fff;
	background-image: -webkit-linear-gradient(top, #1badce 0%, #189CB9 100%);
	background-image:      -o-linear-gradient(top, #1badce 0%, #189CB9 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1badce), to(#189CB9));
	background-image:         linear-gradient(to bottom, #1badce 0%, #189CB9 100%);
	background-repeat: repeat-x;
	border-color: #aeee00;
	text-align: center;
	padding: 10px;
}

div.slide.personal {
	z-index:10;
	h1 {
		color: #1badce;
		
	}

	.background {
		background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
	}
	
	.greenline {
		width: 100%;
		height: 10%;
		background: rgba(174,238,0, 0.6);
		margin: 10% 0;
	}
}


div.slide.smart {
	z-index:10;
	@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
		height: 110vh;
	}
	.inner {
		width: 90%;
	}
	
	.background {
		background: -webkit-linear-gradient(rgba(75,173,206,0.8),rgba(75,173,206,0.3)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(75,173,206,0.8),rgba(75,173,206,0.3)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(75,173,206,0.8),rgba(75,173,206,0.3)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(75,173,206,0.8), rgba(75,173,206,0.3)); /*Standard*/
	}
	
	.algo {
		display: inline-block;
		margin: 5% 0;
	}
	
	.circles {
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}
	
	.circle {
	   background: rgba(250, 250, 250, 0.25);
	   margin: 2% 2%;
	   display: inline-block;
	   -moz-border-radius: 50%; 
	   -webkit-border-radius: 50%; 
	   border-radius: 50%;
	   p {
		   color: #fff;
		   position: relative;
		   top: 15%;
		   width: 90%;
   			left:0;
   			right:0;
   			margin-left:auto;
   		   margin-right:auto;
	   }
	}
	@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
		.circle {
			width: 100px;
			height: 100px;
		}
	}
	@media (min-width: 718px){
		.circle { 
	 	   width: 15%;
		   height: auto;
		   padding:5% 0;
		   float: left;
  	 	}
	}
	
	.circle.middle {
		background: rgba(174,238,0, 0.4);
	}             
}

div.slide.quality {
	z-index:10;
	@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
		height: 150vh;
	}

	@media (min-width: 718px){
		height: 100vh
	}
	h1, h2, p {
		color: #1badce;
	}
	
	.background {
		background: -webkit-linear-gradient(rgba(75,173,206,0.3),rgba(75,173,206,0)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(75,173,206,0.3),rgba(75,173,206,0)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(75,173,206,0.3),rgba(75,173,206,0)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(75,173,206,0.3), rgba(75,173,206,0)); /*Standard*/
	}     
	
	@media (min-width: 718px){
		.info {
			padding-top: 5%;
			padding-left: 10%;
			float: left;
			text-align: right;
			width: 30%;
		}
	}  
	
	@media (min-width: 718px){
		.phone {
			left: 35%;
			
		}
	}

	@media (min-width: 1024px){
		.phone {
			left: 40%;
		}
	}

	@media (min-width: 1292px) {
		.phone {
			left: 45%;
		}
	}        
}

div.slide.life {
	z-index: 10;
	@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
		height: 1000px;
	}
	@media (min-width: 718px){
		height: 100vh;
	}
	.background {
		background: -webkit-linear-gradient(rgba(26,188,158,0.1),rgba(26,188,158,0.4)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(26,188,158,0.1),rgba(26,188,158,0.4)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(26,188,158,0.1),rgba(26,188,158,0.4)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(26,188,158,0.1), rgba(26,188,158,0.4)); /*Standard*/
	}
	.banner {
		width: 80%;
		height: 80%;
		margin: 0 auto;
		background: #1badce;
		opacity: 0.6;
		display: block;
		.bannerpic {
			display: inline-block;
		}
		
		@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
			.bannerpic {
				height: 75px;
				width: 75px;
			}
			.bannerpic.middle {
				width: 100px;
			}
		}
		
		@media (min-width: 718px){
			.bannerpic {
				height: 100px;
				width: 100px;
			}
			.bannerpic.middle {
				width: 150px;
			}
		}
		
		.clock, .explosion, .twoarrows {
			width: auto;
			height: 100%;
		}
		.dinnerplans {
			.clock {
				padding-bottom: 20px;
			}
			text-align: center;
			padding: 5% 2.5% 5% 2.5%;
		}
		.benchtaken {
			.twoarrows {
				padding-bottom: 20px;
			}
			text-align: center;
			padding: 5% 2.5% 5% 2.5%;
		}
		.feelinggood {
			.explosion {
				padding-bottom: 20px;
			}
			text-align: center;
			padding: 5% 2.5% 5% 2.5%;
		}
		
	}
	@media (min-width: 718px){
		.banner {
				width: 80%;
				height: 70%;
				.dinnerplans {
					float: left;
					width: 28%;
					padding: 5% 0 5% 5%;
				}
				.benchtaken {
					float: left;
					width: 28%;
					padding: 5% 2.5% 5% 2.5%;
				}
				.feelinggood {
					float: left;
					width: 28%;
					padding: 5% 5% 5% 0;
				}
			}
	}
}

div.slide.graph {
	z-index:10;
	@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
		height: 150vh;
	}

	@media (min-width: 718px){
		height: 100vh
	}
	.background {
		background: -webkit-linear-gradient(rgba(26,188,158,0.5),rgba(26,188,158,0.8)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(26,188,158,0.5),rgba(26,188,158,0.8)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(26,188,158,0.5),rgba(26,188,158,0.8)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(26,188,158,0.5), rgba(26,188,158,0.8)); /*Standard*/
	}
	@media (min-width: 718px){
		.info {
			padding-top: 5%;
			padding-right: 10%;
			float: right;
			text-align: left;
			width: 30%;
		}
	}  
	
	@media (min-width: 718px){
		.phone {
			right: 35%;
			
		}
	}

	@media (min-width: 1024px){
		.phone {
			right: 40%;
		}
	}

	@media (min-width: 1292px) {
		.phone {
			right: 45%;
		}
	}
}

div.slide.team {
	background: url(/assets/team.png) no-repeat center;
	background-size: cover;
	padding-top:50px;
	p {
		color: #aaee00;
		padding-top: 50%;
		font-size: 30px;
		line-height: 35px;
	}        
}

div.slide.footer {
	height: 50px;
	padding: 5% 10%;
	
	.infolinks {
		position: absolute;
		text-decoration: none;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
	}
	.infolink {
		padding: 0 10px;
		text-decoration: none;
		color: #000;
		
	}
	.infolink.mid {
		border-left: solid 1px #000;
		border-right: solid 1px #000;
	}
}