html,
button,
input,
select,
textarea {
    color: #222;
	font-family: 'ubuntulight';
}

@font-face {
    font-family: 'ubuntulight';
    src: url(font-path('ubuntu-l-webfont.eot'));
    src: url(font-path('ubuntu-l-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('ubuntu-l-webfont.woff')) format('woff'),
         url(font-path('ubuntu-l-webfont.ttf')) format('truetype'),
         url(font-path('ubuntu-l-webfont.svg') + "#ubuntulight") format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 1em;
	font-family: 'ubuntulight';
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html, body, {
	width:100%;
	height:100%;
}

body {
	min-width: 1170px;
}

div#wrapper {
	margin: 0 0; 
	min-width: 1170px;

	overflow:hidden;
	position:relative;
}

div#logo {
	text-align: center;
	padding-bottom: 20%;
}

div.slide {
	padding: 50px 0;
	height: 700px;
	text-align: center;
	position: relative;
	font-family: 'ubuntulight';
	background: url(/assets/rbackground.png) fixed;
	background-repeat: repeat;
	background-size: 640x1136;
}

div.slide .background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

div.slide .inner {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	font-family: 'ubuntulight';
}

div.slide.main {
	background: url(/assets/Working.png) no-repeat;
	background-size: 100% 120%;
}

.btn {
	background-image: -webkit-linear-gradient(top, #aeee00 0%, #9bd400 100%);
	  background-image:      -o-linear-gradient(top, #aeee00 0%, #9bd400 100%);
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#aeee00), to(#9bd400));
	  background-image:         linear-gradient(to bottom, #aeee00 0%, #9bd400 100%);
	  background-repeat: repeat-x;
	  border-color: #aeee00;
	  width: 200px;
	  height: 40px;
      padding: 10px 16px;
	  border-radius: 6px;
}

.input {
	height: 15px;
	width: 300px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	margin-right: 20px;
}

h1 {
	font-size: 50px;
	color: #fff;
	font-weight: normal;
	line-height:50px;
	font-family: 'ubuntulight';
}
h2 {
	color: #fff;
	line-height: 0px;
	font-size: 30px;
}
p {
	color: #fff;
	font-size:21px;
	line-height: 40px;
}

div.slide.main h1 {
	color:#fff;
	margin-bottom: 65px;
	line-height: 92px;
	margin-top: 106px;
}

div.slide.personal {
	h1 {
		color: #1badce;
	}
	.scrollphone {
		left: 50%;
		margin-left: -12.5%;
		position: absolute;
		bottom: 0px;
	}
	.background {
		background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
	}
}

div.slide.smart {
	text-align:center;
	z-index:10;
	position:relative;    
	
	.background {
		background: -webkit-linear-gradient(rgba(75,173,206,0.9),rgba(75,173,206,0.5)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(75,173,206,0.9),rgba(75,173,206,0.5)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(75,173,206,0.9),rgba(75,173,206,0.5)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(75,173,206,0.9), rgba(75,173,206,0.5)); /*Standard*/
	}
	
	p {
		padding-top: 25%;
	}             
}

div.slide.quality {
	text-align:center;
	z-index:10;
	position:relative;
	h1, h2, p {
		color: #1badce;
	}
	
	.info {
		padding-top: 10%;
		padding-left: 15%;
		float: left;
		text-align: right;
	}
	.background {
		background: -webkit-linear-gradient(rgba(75,173,206,0.4),rgba(75,173,206,0)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(75,173,206,0.4),rgba(75,173,206,0)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(75,173,206,0.4),rgba(75,173,206,0)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(75,173,206,0.4), rgba(75,173,206,0)); /*Standard*/
	}
	.qualityphone {
		left: 60%;
		position: absolute;
		bottom: 0px;
	}                 
}

div.slide.life {
	text-align: center;
	position:relative;
	.background {
		background: -webkit-linear-gradient(rgba(26,188,158,0.1),rgba(26,188,158,0.4)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(26,188,158,0.1),rgba(26,188,158,0.4)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(26,188,158,0.1),rgba(26,188,158,0.4)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(26,188,158,0.1), rgba(26,188,158,0.4)); /*Standard*/
	}
	.banner {
		width: 80%;
		height: 60%;
		margin: 0 auto;
		background: #1badce;
		opacity: 0.6;
		overflow: hidden;
		.dinnerplans {
			.clock {
				padding-bottom: 20px;
			}
			float: left;
			text-align: center;
			padding: 5%;
			width: 23%;
			padding-left: 5%;
		}
		.benchtaken {
			.twoarrows {
				padding-bottom: 20px;
			}
			text-align: center;
			float: left;
			width: 23%;
			
			padding: 5%;
		}
		.feelinggood {
			.explosion {
				padding-bottom: 20px;
			}
			float: left;
			text-align: center;
			padding: 5%;
			width: 23%;
			
			padding-right: 5%;
		}
	}
}

div.slide.graph {
	text-align:center;
	z-index:10;
	position:relative;
	.info {
		padding-top: 10%;
		padding-right: 15%;
		float: right;
		text-align: left;
	}
	.background {
		background: -webkit-linear-gradient(rgba(26,188,158,0.5),rgba(26,188,158,0.8)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(26,188,158,0.5),rgba(26,188,158,0.8)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(26,188,158,0.5),rgba(26,188,158,0.8)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(26,188,158,0.5), rgba(26,188,158,0.8)); /*Standard*/
	}
	.graphphone {
		right: 60%;
		position: absolute;
		bottom: 0px;
	} 
}

div.slide.team {
	background: url(/assets/team.png) no-repeat;
	background-size: 100% 100%;
	p {
		color: #aaee00;
		padding-top: 50%;
	}        
}

div.slide.footer {
	height:auto;
	text-align:center;
	padding: 5% 10%;
	.slinks {
		float: left;
	}
	.infolinks {
		position: relative;
		text-decoration: none;
		left: -10%;
	}
	.infolink {
		padding: 0 10px;
		text-decoration: none;
		color: #000;
		
	}
	.infolink.mid {
		border-left: solid 1px #000;
		border-right: solid 1px #000;
	}
}

